<div align="center" class="jumbotron">
    <h1>Welcome to Online Shopping World!</h1>


    <img src="images/onlineshoppinglogo.jpg" alt="I'm Yeoman">
    <br>
    <h4>Always a pleasure making you shop at easy.</h4>

    <div class="container">
        <div class=".btn-group">
            <a class="btn btn-lg btn-success" ng-href="#/mobile">Mobiles<span class="glyphicon glyphicon-phone"></span></a>

            <a class="btn btn-lg btn-success" ng-href="#/clothes">Clothes<span class="	glyphicon glyphicon-briefcase"></span></a>
            <a class="btn btn-lg btn-success" ng-href="#/books">Books<span class="glyphicon glyphicon-book"></span></a>
        </div>


    </div>



</div>

<div class="row marketing">




</div>
